.btn {
  @include buttonDefault;
}

button[id*="deleteBlogButton"],
button[id*="editBlogButton"],
button[id*="addBlogButton"] {
  @include buttonDefault;
}

button[id*="addBlogButton"] {
  width: 5rem;
}

#c-h {
  width: 10%;
  @media only screen and (max-width: $bp-mobile-l) {
    width: 20%;
  }

  @media only screen and (max-width: $bp-mobile-s) {
    height: auto;
  }
}
