.nav-link {
  padding-left: 0;
  display     : block !important;
  color       : #23527c;
  outline     : none !important;
}

button.nav-link {
  background-color: rgb(192, 192, 192);
  font-size       : $default-font-size;
  border          : none;
  padding         : 1.4rem 0;
}

button.nav-link:hover {
  background-color: $color-white;
}

.nav-item {
  color          : #23527c;
  text-decoration: underline;
  padding-right  : 0;
  margin-right   : 0;
}

.menu-item:hover {
  background-color: $color-white;
}

.menu-item {
  padding-left          : 1rem;
  display               : flex;
  flex-direction        : row;
  align-items           : center;
  font-family           : 'Trebuchet MS', 'ChivoBlack', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size             : $default-font-size;
  font-weight           : 400;
  line-height           : 2.4rem;
  position              : relative;
  min-height            : 4.4rem;
  padding-top           : 0;
  padding-right         : 1.6rem;
  box-sizing            : border-box;

  &:hover {
    background-color: $color-white;
  }
}

.menu-toggle {
  padding-left : 1rem;
  padding-right: 0;
}

#mobilemenutoggle {
  cursor          : pointer;
  position        : fixed;
  left           : 1.2rem;
  top             : 3.2rem;
  z-index         : 95;
  color           : #f4c00eff;
  background-color: #244a8bff;
  padding         : .1rem .6rem 0;

  img {
    width : 3rem;
    height: 2rem;
  }
}

.mobile-menu-toggle {
  position        : fixed;
  top             : 3.2rem;
  right           : 1.6rem;
  background-color: #2a222a;
  color           : $color-white;
  padding         : .6rem;
  z-index         : 90000;
}

.menu-item a.menu-hover {
  color: '#88c1ff' !important;
}

.menu-hover:hover {
  color: rgb(204, 224, 255) !important;
}

.searchBar, .subscribeBar, .searchSubmit, .subscribeSubmit {
  margin-top: 0.8rem;
  min-width: auto !important;
}

.searchBar, .subscribeBar {
  margin-left: .3rem;
}

.searchBar {
  border: $color-black .1rem solid;
}

.subscribeBar {
  width: auto;
  overflow: visible;
  position: relative;
  border: .1rem solid #ffb900;
}

.searchSubmit, .subscribeSubmit {
  border: none;
  height: 3.4rem;
  width: 25%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 2.5rem;
}

.searchSubmit {
  background-color: #000;
}

.subscribeSubmit {
  border: .1rem solid #ffb900;
  background-color: #ffb900;
  font-weight: bold;
  padding: 0 .1rem;
}

.sr-search-bar, .sr-subscribe-bar {
  display: none;
}
