.sidebar {
  background-color: rgba($color-blue-light-1, .1);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  border-right: 1px solid rgba($color-purple-dark-1, .5);

  @media only screen and (max-width: $bp-med) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    max-height: min-content;
    border-right: none;
  }

  .header {
    display: grid;
    grid-template-rows: 2rem 1fr;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-med) {
      grid-template-rows: 1fr 2rem;
      grid-template-columns: 1fr;
      margin-bottom: 0;
    }

    &__border {
      min-height: .8rem;
      max-width: 100%;
      background-color: $color-blue-light-1;
      border-top: .8rem solid $color-blue-dark-1;

      @media only screen and (max-width: $bp-med) {
        grid-row: 2 / 2;
        border-top: $color-black .1rem solid;
        min-height: .8rem;
        background-color: $color-blue-dark-1;
        border-bottom: .8rem solid $color-blue-light-1;
      }
    }

    &__logo {
      display: grid;
      justify-content: center;
      background-color: rgba($color-blue-light-1, .1);



      @media only screen and (max-width: $bp-med) {
        justify-content: inherit;
      }

      &--picture {
        max-width: 20vw;

        @media only screen and (max-width: $bp-med) {
          max-width: 20%;
          margin-bottom: 0;
          grid-row: 1 / 1;
          grid-column: 1 / 1;
        }
      }
    }

    &__mobile-menu {
      display: none;

      @media only screen and (max-width: $bp-med) {
        display: initial;
        grid-row: 1/ 1;
        justify-self: end;
        grid-column: 1 / 1;
        margin-top: 1rem;
        margin-right: 3rem;

        & .mobile-menu-btn {
          width: 3rem;
          height: 3rem;
          background-color: rgba($color-blue-dark-3, .5);
          color: $color-white;
          font-weight: bold;
          border: 1px solid rgba($color-blue-dark-3, .9);
          border-radius: .2rem;
          margin-top: .5rem;

          &:hover {
            transform: translateY(-.2rem);
            box-shadow: $box-shadow-2;

            &::after {
              transform: scaleX(1) scaleY(1.2);
              opacity: 0;
            }
          }

          &:active {
            transform: translateY(-.1rem);
            box-shadow: $box-shadow-3;
          }

          &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
          }
        }
      }
    }
  }

  .sidebar__functions {
    @media only screen and (max-width: $bp-med) {
      display: none;
    }
    margin-left: .5rem;
    margin-right: .5rem;
    .search,
    .subscribe {
      display: grid;

      &:first-child {
        margin-bottom: 2.5rem;
      };
    }

    .search__form,
    .subscribe__form {
      display: grid;
      grid-row-gap: 1.5rem;

      &--input {
        height: 2.5rem;
        font-size: 1.6rem;
      }

      &--btn {
        border: 1px solid $color-black;
        border-radius: .3rem;
        width: 90%;
        height: 3.3rem;
        font-size: 1.6rem;
        color: $color-purple-dark-1;
        background-color: $color-blue-light-2;
        font-weight: bold;
        padding: .3rem 0;
        margin: auto auto;
        backface-visibility: hidden;
        transition: all .2s;

        &:hover {
          transform: translateY(-.2rem);
          box-shadow: $box-shadow-2;

          &::after {
            transform: scaleX(1) scaleY(1.2);
            opacity: 0;
          }
        }

        &:active {
          transform: translateY(-.1rem);
          box-shadow: $box-shadow-3;
        }

        &::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 2rem;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s;
        }
      }
    }
  }
}
