.newsTable {
    width: 32rem;
    margin-bottom: 1.6rem;
    color: #212529;
    table-layout: fixed;
}

.newsTable td {
  width: 50% ;
}

.newsTable td, .newsTable th {
  vertical-align: top;
}

.newsUrl tbody tr:nth-child(odd) {
  display: table-row;
  background-color: #d8ecf3;
}

.newsUrl tbody tr:nth-child(even) {
  display: table-row;
  background-color: $color-white;
}

@media screen and (max-width: 32rem) {
  .newsTable {
    width: 32rem !important;
  }
}

@media screen and (max-width: 91.1rem) {
  .TableContainer-root {
    height: 22rem !important;
  }
}

@media screen and (min-width: 91.2rem) {
  .TableContainer-root {
    width: 100%;
  }

  .newsTitle {
    width: 32rem !important;
  }
}
