@mixin buttonDefault {
  border: 1px solid $color-black;

  font-size: 1.44rem;
  font-weight: $font-weight-med;

  border-radius: .3rem;
  height: 3.3rem;
  color: $color-black;
  background-color: rgba($logo-blue, .3);
  padding: .3rem 0;
  backface-visibility: hidden;
  transition: all .2s;

  &:disabled {
    background-color: rgba($color-grey-light-1, .2);
    color: rgba($color-black, .6);
    border: .1rem solid rgba($logo-red, 1);

    &:hover {
    transform: translateY(0);
    box-shadow: none;
    }
  }

  &:link, &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all .2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: $box-shadow-2;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: $box-shadow-3;
  }
}
