// Pallete Ideas

$color-blue-dark-1: rgb(25, 86, 190);
$color-blue-dark-2: rgb(25, 86, 190);
$color-blue-dark-3: rgb(9, 44, 105);

$color-blue-light-1: rgb(124, 174, 243);
$color-blue-light-2: rgb(204, 213, 250);

$color-purple-light-1: rgb(206, 192, 217);

$color-purple-dark-1: rgb(77, 61, 111);
$color-purple-dark-2: rgb(45, 40, 111);

$color-red-dark-1: rgb(148, 24, 24);

/* Color Theme Swatches in RGBA */
$color-theme-purple-dark-1: rgb(10, 18, 92);
$color-theme-purple-dark-2: rgb(3, 1, 66);
$color-theme-purple-light-1: rgb(72, 79, 115);
$color-theme-green-light-1: rgb(20, 115, 115);
$color-theme-green-light-2: rgb(8, 89, 66);

// Colour theme 2
$color-theme-2-white-1: rgb(246, 240, 240);
$color-theme-2-blue-light-1: rgb(96, 227, 213);
$color-theme-2-blue-dark-1: rgb(5, 103, 168);

// SAND COLOURS

$sand-1: rgb(185, 174, 170);
$sand-2: rgb(194, 196, 195);
$sand-3: rgb(211, 214, 203);
$sand-4: rgb(219, 223, 209);
$sand-5: rgb(220, 223, 212);
$sand-6: rgb(255, 212, 193);
$sand-7: rgb(255, 170, 129);

// Established Colours
$color-black:rgb(31, 17, 44);
$color-white: rgb(255, 255, 255);

$color-grey-light-1: rgb(204, 204, 204);
$color-grey-dark-1: rgb(150, 149, 149);

// FONT
$default-font-size: 1.6rem;
$default-font-family: 'PT Serif', serif; // Body
$alt-font-family: 'Source Sans Pro', sans-serif; // H2, Links

// FONT WEIGHTS
$font-weight-normal: 400;
$font-weight-extra-light: 300;
$font-weight-light: 600;
$font-weight-med: 700; // Equivalent to bold
$font-weight-heavy: 900;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;    //  1200px
$bp-large: 62.5em;    //  1000px
$bp-med: 50em;        //  800px
$bp-sm: 37.5em;       //  600px
$bp-tiny: 18.75em;    //  300px

// MOBILE RESPONSIVE BREAKPOINTS
$bp-mobile-l: 26.6em; // 425px
$bp-mobile-m: 23.5em; // 376px
$bp-mobile-s: 20em; // 320px

// BOX SHADOW
$box-shadow-1: 0 1.5rem 4rem rgba($color-blue-dark-1, .15);
$box-shadow-2: 0 1rem 1.2rem  rgba($color-blue-dark-1, .6);
$box-shadow-3:  0 .5rem 1rem rgba(255, 182, 182, 0.6);
