.navigation {
  @media only screen and (max-width: $bp-med) {
    &.close {
      display: none;
    }

    &.open {
      display: block !important;
      width: 100vw !important;
      z-index: 100 !important;
      padding-left: 3rem;
      margin-top: 1rem;
    }
  }
}
